{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}RSVP - Kelly and John - 2026{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" href="{% static 'images/header/favicon.png' %}" type="image/png">
    <link rel="stylesheet" href="{% static 'css/rsvp_style.css' %}">
    <script defer src="https://cdn.jsdelivr.net/npm/alpinejs@3.x.x/dist/cdn.min.js"></script>
</head>
<body>
  <div class="container">
    <div class="form-container">
      {% block rsvp_content %}{% endblock %}
    </div>
  </div>

  <script>
    document.addEventListener('DOMContentLoaded', function() {
    // Set placeholders based on field names
    const firstNameField = document.querySelector('input[name="first_name"]');
    const lastNameField = document.querySelector('input[name="last_name"]');
    
    if (firstNameField) firstNameField.placeholder = 'First Name';
    if (lastNameField) lastNameField.placeholder = 'Last Name';
  });
  </script>
</body>
</html>