{% extends "wedding/base.html" %}
{% block nav_bg %}bg-[#64763c]{% endblock %}
{% block nav_text %}text-[#ffe4e4]{% endblock %}
{% block nav_text_mobile %}text-[#ffe4e4]{% endblock %}
{% block nav_text_mobile_btn %}text-[#ffe4e4]{% endblock %}
{% block content %}
<h1>
  This is where we are going to put all of our wedding and elopment photos!
</h1>

<div class="bg-red-700 text-white p-4 px-4 rounded-lg text-center">
  Tailwind is working 🎉
</div>
<div class="bg-red-700 text-white p-4 rounded-lg">Tailwind is working 🎉</div>

{% endblock %}
