{% extends "wedding/base.html" %}

{% block content %}
{% load static%}

<div class="bg-itinerary bg-cover bg-center bg-no-repeat p-5 text-white">
    <h1 class="text-wedding-peach text-center text-10xl">Itinerary</h1>

    <div class="flex flex-nowrap justify-between max-w-full mx-auto mb-8 relative items-start opacity-0 translate-y-10 transition-all duration-600 ease-out story-row vine-timeline">
        <div class="w-1/6 flex justify-center">
            <img src="{% static '/images/itinerary/wildFlowerMountain.png' %}" class="w-full h-auto" alt="Wildflower Mountain">
        </div>
        <div class="w-1/3 flex flex-col justify-center items-end text-right pr-12">
            <h2 class="text-wedding-peach text-5xl font-extrabold">Wednesday, July 8, 2026</h2>
            <h3 class="text-wedding-peach text-2xl italic">John and Kelly get eloped in Crested Butte, Co</h3>
        </div>
        <div class="w-1/2"></div>
    </div>

    <div class="flex flex-nowrap justify-between max-w-full mx-auto mb-8 relative items-start opacity-0 translate-y-10 transition-all duration-600 ease-out story-row vine-timeline">
        <div class="w-1/2"></div>
        <div class="w-1/3 flex flex-col justify-center items-start text-left pl-12">
            <h2 class="text-wedding-peach text-5xl font-extrabold">Thursday, July 9th 2026</h2>
            <h3 class="text-wedding-peach text-2xl italic">Kelly &amp; John return to Denver!</h3> 
            <h3 class="text-wedding-peach text-2xl italic">Family meets for a welcome dinner in Westminster.</h3>
        </div>
        <div class="w-1/6 flex justify-center">
            <img src="{% static '/images/itinerary/hotel.png' %}" class="w-full h-auto" alt="Hotel">
        </div>
    </div>

    <div class="flex flex-nowrap justify-between max-w-full mx-auto mb-8 relative items-start opacity-0 translate-y-10 transition-all duration-600 ease-out story-row vine-timeline">
        <div class="w-1/6 flex justify-center">
            <img src="{% static '/images/itinerary/greenhouse.png' %}" class="w-full h-auto" alt="Greenhouse">
        </div>
        <div class="w-1/3 flex flex-col justify-center items-end text-right pr-12">
            <h2 class="text-wedding-peach text-5xl font-extrabold">Friday, July 10th 2026</h2>
            <h3 class="text-wedding-peach text-2xl italic">Denver Botanic Gardens | Woodland Mosaic &amp; Solarium</h3>
            <h3 class="text-wedding-peach text-2xl italic">Wedding ceremony - 11:00am</h3>
            <h3 class="text-wedding-peach text-2xl italic">Family photos &amp; Cocktail hour - 11:30am</h3>
        </div>
        <div class="w-1/2"></div>
    </div>

    <div class="flex flex-nowrap justify-between max-w-full mx-auto mb-8 relative items-start opacity-0 translate-y-10 transition-all duration-600 ease-out story-row vine-timeline">
        <div class="w-1/6 flex justify-center">
            <img src="{% static '/images/itinerary/dinner.png' %}" class="w-full h-auto" alt="Dinner">
        </div>
        <div class="w-1/3 flex flex-col justify-center items-end text-right pr-12">
            <h2 class="text-wedding-peach text-5xl font-extrabold">Friday, July 10th 2026</h2>
            <h3 class="text-wedding-peach text-2xl italic">El Five</h3>
            <h3 class="text-wedding-peach text-2xl italic">Dinner celebration - 5:00pm</h3>
        </div>
        <div class="w-1/2"></div>
    </div>

    <div class="flex flex-nowrap justify-between max-w-full mx-auto mb-8 relative items-start opacity-0 translate-y-10 transition-all duration-600 ease-out story-row vine-timeline">
        <div class="w-1/2"></div>
        <div class="w-1/3 flex flex-col justify-center items-start text-left pl-12">
            <h2 class="text-wedding-peach text-5xl font-extrabold">Saturday, July 11th 2026</h2>
            <h3 class="text-wedding-peach text-2xl italic">Acreage | Lafayette, CO</h3> 
            <h3 class="text-wedding-peach text-2xl italic">Lunch &amp; drinks - 11:00am - 2:00pm</h3>
            <h4 class="text-wedding-peach text-xl">feel free to stop by anytime during these hours</h4>
            <h4 class="text-wedding-peach text-xl">or do your own thing &amp; meet us back for dinner</h4>
        </div>
        <div class="w-1/6 flex justify-center">
            <img src="{% static '/images/itinerary/drinks.png' %}" class="w-full h-auto" alt="Drinks">
        </div>
    </div>

    <div class="flex flex-nowrap justify-between max-w-full mx-auto mb-8 relative items-start opacity-0 translate-y-10 transition-all duration-600 ease-out story-row vine-timeline">
        <div class="w-1/2"></div>
        <div class="w-1/3 flex flex-col justify-center items-start text-left pl-12">
            <h2 class="text-wedding-peach text-5xl font-extrabold">Saturday, July 11th 2026</h2>
            <h3 class="text-wedding-peach text-2xl italic">Aspire Apartment Club Room</h3> 
            <h4 class="text-wedding-peach text-xl">Dinner: 4pm - 6pm</h4>
        </div>
        <div class="w-1/6 flex justify-center">
            <img src="{% static '/images/itinerary/tongs.png' %}" class="w-full h-auto" alt="Tongs">
        </div>
    </div>

    <div class="flex flex-nowrap justify-between max-w-full mx-auto mb-8 relative items-start opacity-0 translate-y-10 transition-all duration-600 ease-out story-row vine-timeline">
        <div class="w-1/6 flex justify-center">
            <img src="{% static '/images/itinerary/airplane.png' %}" class="w-full h-auto" alt="Airplane">
        </div>
        <div class="w-1/3 flex flex-col justify-center items-end text-right pr-12">
            <h2 class="text-wedding-peach text-5xl font-extrabold">Sunday, July 12th 2026</h2>
            <h3 class="text-wedding-peach text-2xl italic">Departure</h3>
            <h3 class="text-wedding-peach text-2xl italic">Thank you for joining us this weekend!</h3>
        </div>
        <div class="w-1/2"></div>
    </div>
</div>

<script src="{% static 'js/scrollLoader.js' %}"></script>

{% endblock %}