{% extends "wedding/base.html" %}

{% block content %}
<div class="container mt-5">
  <h1 class="mb-4">Our Story</h1>

  <section class="mb-5">
    <h2>Bluemoon Brewery</h2>
    <p></p>
  </section>

  <section class="mb-5">
    <h2>Rockymountain National Park</h2>
    <h4>The Springs - Long distance</h4>
    <p></p>
  </section>

  <section class="mb-5">
    <h2>Leaf Peeping</h2>
    <p></p>
  </section>

  <section class="mb-5">
    <h2>Broncos Game</h2>
    <h4>Go Broncos</h4>
    <p></p>
  </section>

  <section class="mb-5">
    <h2>1 Year Anniversary</h2>
    <p></p>
  </section>

  <section class="mb-5">
    <h2>First 14er</h2>
    <p></p>
  </section>

  <section class="mb-5">
    <h2>Mexico Trip!</h2>
    <h4>Tulum and Dia de los Muertos</h4>
    <p></p>
  </section>

  <section class="mb-5">
    <h2>First Ski Trip</h2>
    <p></p>
  </section>

  <section class="mb-5">
    <h2>Second Year Anniversary</h2>
    <h4>Where we started it all</h4>
    <p></p>
  </section>

  <section class="mb-5">
    <h2>New Zealand</h2>
    <h4>Other side of the world</h4>
    <p></p>
  </section>

  <section class="mb-5">
    <h2>Third Year Anniversary</h2>
    <h4>3 years of love</h4>
    <p></p>
  </section>

  <section class="mb-5">
    <h2>Red Rocks!</h2>
    <h4>We love bread</h4>
    <p></p>
  </section>

  <section class="mb-5">
    <h2>New Year’s Eve</h2>
    <h4>Where we rekindled our love so many years ago</h4>
    <p></p>
  </section>

  <section class="mb-5">
    <h2>4th Year Anniversary</h2>
    <h4>4 years of love</h4>
    <p></p>
  </section>

  <section class="mb-5">
    <h2>Engagement in Moab!</h2>
    <h4>Canyon Love</h4>
    <p></p>
  </section>
</div>
{% endblock %}